<header class="library-header">
  <div class="container header__section">
    <nav class="header__nav">
      <div class="header-logo">
        <a href="index.html" class="header-logo__link">
          <svg class="header-logo__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-logo-filmoteka"></use></svg
          ><span class="header-logo__text">Filmoteka</span>
        </a>
      </div>
      <ul class="header__list list">
        <li class="header__item">
          <a href="index.html" class="header__link link">Home</a>
        </li>
        <li class="header__item">
          <a href="mylibrary.html" class="header__link link current"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-btns">
      <ul class="header-btns__list list">
        <li class="header-btns__item">
          <button
            type="button"
            class="header-btns__watched btn header-btns__active"
          >
            Watched
          </button>
        </li>
        <li class="header-btns__item">
          <button type="button" class="header-btns__queue btn">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
