.header {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 45px;
  height: 230px;
  background-color: $bg-body;
  background-image: url(../images/main-header-mob-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include retina2x {
    background-image: url(../images/main-header-mob-2x.jpg);
  }
  @include retina3x {
    background-image: url(../images/main-header-mob-3x.jpg);
  }

  @include tablet {
    height: 216px;
    background-image: url(../images/main-header-tablet-1x.jpg);
    @include retina2x {
      background-image: url(../images/main-header-tablet-2x.jpg);
    }
    @include retina3x {
      background-image: url(../images/main-header-tablet-3x.jpg);
    }
  }
  @include desktop {
    background-repeat: repeat;
    background-image: url(../images/main-header-1x.jpg);
    @include retina2x {
      background-image: url(../images/main-header-2x.jpg);
    }
    @include retina3x {
      background-image: url(../images/main-header-3x.jpg);
    }
  }
}
.header__section {
  position: fixed;
  left: 0;
  right: 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
  line-height: 1.67;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.header__item {
  position: relative;
  margin-left: 40px;
  color: $color-text-lighter;
}
.header__link {
  transition: text-shadow $transition-duration $transition-animation;
}
.header__link:hover,
.header__link:focus {
  text-shadow: 1px 1px 2px $color-accent-secondary, 0 0 1em $color-text-light,
    0 0 0.2em $color-text-lighter;
}

.header__link.current::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: $color-accent-secondary;
}

.header-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  @include tablet {
    width: 336px;
  }
  @include minidesktop {
    width: 394px;
  }
}

.header-form:hover .header__form-icon {
  stroke: $color-accent-secondary;
}

.header-form__input {
  width: 100%;
  color: $color-text-lighter;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid $color-border;
  &:focus-within {
    outline: none;
  }
  &:not(:placeholder-shown) {
    @include font(14px, 400, 1.17);
    color: $color-accent-secondary;
  }
  &::placeholder {
    @include font(14px, 400, 1.17);
    color: $color-text-lighter;
  }
  &:hover::-webkit-input-placeholder {
    color: $color-accent-secondary;
  }
  &:hover {
    border-bottom: 0.5px solid $accent-secondary-border;
  }
}

.header-form__btn {
  position: absolute;
  right: -6px;
  background-color: transparent;
  border: none;
  fill: transparent;
  stroke: $color-text-lighter;
}
.header-form__btn:hover,
.header-form__btn:focus {
  stroke: $color-accent-secondary;
}
.header-form__input:hover .header__form-icon,
.header-form__input:focus .header__form-icon {
  stroke: $color-accent-secondary;
}
.header__notification {
}
